* {
  margin: 0%;
  padding: 0%;
}
/*                section one           */
.section-one {
  width: 1005;
  height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: ;
}
.emma {
  width: 100%;
}
.emma .heloo {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 20%;
}
.emma .joseph {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-bottom: 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*                   end section one               */

/*                     section two                 */
.section-two {
  width: 100%;
  height: auto;
}
.div-one {
  padding-bottom: 10%;
}
.dives {
  display: flex;
}
.div-two {
  background-color: white;
  width: 70%;
  height: 40%;
  margin-left: 15%;
  box-shadow: rgb(153, 153, 153) 0px 10px 40px 0px;
}
.IMG img {
  width: 35%;
  height: 60%;
  padding: 8% 8%;
  border-radius: 50%;
}
.dives .para {
}
/*                   end section two               */

/*                    section three               */
#section-three {
  width: 100%;
}
.service {
  width: 100%;
}
.class01 {
  text-align: center;
  font-size: 18px;
  line-height: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.class02 {
  text-align: center;
  font-size: 33px;
  line-height: 50px;
  font-family: sans-serif;
}
hr {
  width: 30%;
  margin: 0% auto;
  margin-top: 2%;
}
.six-dives {
  padding-top: 40px;
}
.dives-one {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
}
.img-div {
  width: 70%;
}
.img-div img {
  width: 90%;
  height: 40vh;
  margin-bottom: 40px;
}
/*                  end section three               */

/*                    section fore               */
.section-fore {
  padding-top: 5%;
  width: 100%;
}
.section-for-father {
  background-color: whitesmoke;
  padding-top: 12%;
}
.exper {
  width: 100%;
  padding-bottom: 3%;
}
hr {
  width: 30%;
  margin: 0% auto;
  margin-top: 2%;
}
.six-dives-box {
  padding-top: 40px;
}
.dives-one-box {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
}
.img-div-box {
  width: 48%;
  height: auto;
  margin-bottom: 40px;
  border: 1px solid rgb(231, 231, 231);
  background-color: white;
}
.heading-edu {
  margin: 1%;
  padding-top: 4%;
  font-size: 150%;
  padding-bottom: 3%;
  font-family: Arial, Helvetica, sans-serif;
}
.img-div-box-edu {
  width: 48%;
  height: auto;
  margin-bottom: 10px;
  background-color: whitesmoke;
}
.heading {
  margin: 3%;
  font-size: 170%;
  font-family: Arial, Helvetica, sans-serif;
}
.date {
  width: 30%;
  line-height: 25px;
  margin: 3%;
  color: white;
  font-size: small;
  border-radius: 4px;
  padding-left: 2%;
  background-color: rgb(130, 130, 255);
}
.pgrf {
  margin: 3%;
  font-size: 130%;
}
/*   skills and codings    */
.img-div-box {
  list-style: none;
}
.skills {
  margin: 5% 3%;
}
.skills li {
  margin: 6% 0px;
}
.bar {
  background: whitesmoke;
  display: block;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px #e2e2e2b3;
}
.bar span {
  height: 5px;
  float: left;
  background: #2187e7;
}
.html {
  width: 90%;
}
.css {
  width: 75%;
}
.boststep {
  width: 56%;
}
.javascript {
  width: 80%;
}

/*                  end section fore               */

/*                     section five               */
.section-five {
  padding-top: 5%;
  width: 100%;
  height: auto;
}
.section-img-mush {
}
.section-img-mush {
  width: 100%;
  padding-bottom: 3%;
}
.nav {
  padding-top: 5%;
  padding-bottom: 4%;
  padding-left: 33%;
}
.nav a {
  font-size: 17px;
  color: black;
  text-decoration: none;
  padding-left: 4%;
}
.images-ten {
}
.dives-ten {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
}
/*                  end section five               */

/*                     section six               */
.section-six {
  width: 100%;
}
.background {
  background-color: whitesmoke;
  padding-top: 10%;
}
.kind {
  width: 100%;
  padding-bottom: 4%;
}
.two-clients {
  padding-top: 40px;
}
.clint-two {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
}
.img-div-cli {
  width: 70%;
  padding-bottom: 5%;
}
.img-div-cli .img {
  width: 95%;
  height: auto;
  margin-bottom: 40px;
  background-color: white;
}
.img img {
  width: 25%;
  margin: 7%;
  border-radius: 10%;
  margin-left: 35%;
}
.para-client {
  line-height: 125%;
  font-size: 21px;
  text-align: center;
}
.h3-head {
  padding-top: 6%;
  font-size: 13px;
  margin-left: 25%;
  padding-bottom: 3%;
  font-family: Arial, Helvetica, sans-serif;
}
/*    background-img    */
.background-img {
  width: 100%;
  height: 65vh;
  background-color: rgb(93, 93, 93);
  /* background-image: url(images/imo.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.lets {
  color: white;
  font-size: xx-large;
  padding-top: 10%;
  margin-left: 36%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.class-hr {
  width: 20%;
  margin-top: 3%;
  margin-bottom: 4%;
  color: rgba(241, 241, 241, 0.1);
}
.hire {
  padding: 18px 48px;
  color: white;
  border: 1px solid whitesmoke;
  background-color: rgb(114, 114, 114);
  margin-left: 44%;
}
/*                  end section six               */

/*                    section seven               */
.section-seven {
  width: 100%;
}
.article {
  padding-top: 8%;
  width: 100%;
}
.six-three {
  padding-top: 5%;
  padding-top: 40px;
}
.dives-three {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
  padding-top: 2%;
}
.img-three {
  width: 70%;
}
.img-three .three {
  width: 90%;
  height: auto;
  background-color: whitesmoke;
}
.img-three img {
  width: 100%;
  height: 50vh;
}
.para-three {
  font-size: 19px;
  padding: 3% 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.h5-head {
  padding: 5% 4%;
  padding-left: 42%;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*      line style   */
.line {
  margin: 0% 3%;
}
.line li {
  margin: 6% 0px;
  list-style: none;
}
.bare {
  background: whitesmoke;
  display: block;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px #e2e2e2b3;
}
.bare span {
  height: 5px;
  float: left;
  background: #2187e7;
}
.line-one {
  width: 30%;
}
.line-button {
  padding: 15px 58px;
  color: white;
  border: 1px solid whitesmoke;
  background-color: rgb(82, 79, 255);
  margin-left: 42%;
}
/*                  end section seven               */

/*                    section eight               */
.section-eight {
  width: 100%;
}
.section-eight-div {
  width: 100%;
  padding-top: 10%;
}
.contect {
  padding-top: 3%;
  background-color: whitesmoke;
}
.map {
  padding-top: 7%;
  width: 100%;
}
.map h1 {
  font-size: 25px;
  padding-left: 12.5%;
  padding-bottom: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.eight {
  background-image: url(images/skilled-female-software-developer-working-600w-577568557.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 170px;
  width: 85%;
  height: 70vh;
}

.three-line {
  padding-top: 40px;
  background-color: whitesmoke;
}
.three-imges {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4%;
}
.img-div-icon {
  width: 70%;
  padding-top: 8%;
}
.img-div-icon .IMG-THREE {
  width: 90%;
  height: 28vh;
  background-color: white;
}
.underline{
  font-size: 21px;
  text-align: center;
  text-decoration: underline;

}
.IMG-THREE i{
  font-size: 35px;
  padding: 10%;
  margin-left: 35%;
}
.imo{
  line-height: 45px;
  font-size: 21px;
  text-align: center;

}
/*                  end section eight               */

/*                     section nine               */
.section-nine{
  width: 100%;
}
.link{
  background-color: whitesmoke;
}
input{
  width: 100%;
}


/*                  end section nine               */
